*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
#start{
    background-color: rgb(63, 63, 214);
}
#stop{
    background-color: brown;
}